.container-management-faq {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.button-add {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #488aec;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
    height: 50px;
}
th, td {
    padding: 12px;
    text-transform: uppercase;
}

thead {
    color: #ffff;
}


tr {
    background-color: #919ba3;
}
.table-faq-questions {
    width: 80%;
    margin-top: 2%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-faq {
    text-transform: uppercase;
    padding-top: 2%;
    margin-bottom: 2%;
    font-weight: bolder;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.edit-form {
    background-color: #ffffff;
    padding: 2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 1%;
}

.form-group {
    width: 100%;
}

    .form-group input {
        width: 90%;
        border-radius: 10px;
        border: none;
        background-color: #BFCFE7;
        padding: 5px;
        margin-bottom: 5px;
    }

.edit-form button {
    background-color: #488aec;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0.5rem 0;
    width: 150px;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
}


.form-group textarea {
    border-radius: 10px;
    border: none;
    width: 90%;
    background-color: #BFCFE7;
    margin-bottom: 1%;
}

.container-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 2%;
    margin-top: 2%;
    width: 100%;
}