.container-management-products
{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.title-products {
    text-transform: uppercase;
    padding-top: 2%;
    font-weight: bolder;
}

.search {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    gap: 2%;
 
}

    .search button {
        background-color: #488aec;
        padding: 2%;
        color: #ffff;
        border: none;
        border-radius: 5px;
        height: 50px;
        box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    }

        .search button:hover {
            box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
        }

        .search button:focus,
        .search button:active {
            opacity: 0.85;
            box-shadow: none;
        }

.button-add {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #488aec;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
    height: 50px;
}

    .button-add:hover {
        box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
    }

    .button-add:focus,
    .button-add:active {
        opacity: 0.85;
        box-shadow: none;
    }
.table-products {
    width: 80%;
    margin-top: 4%;
    padding: 20px;
    border-radius: 4px;
    border-radius: 0.5rem;
}
th, td {
    padding: 12px;
    text-transform: uppercase;
}
    thead {
        color: #ffff;
    }


tr {
    background-color: #919ba3;
}



.edit-form {
    background-color: #919ba3;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .edit-form input {
        display: block;
        width: 70%;
        border-radius: 4px;
        border: none;
        background-color: #ffffff;
        padding: 10px;
        margin-bottom: 5px;
    }

    .edit-form button {
        background-color: #488aec;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        margin: 0.5rem 0;
        width: 150px;
    }

        .edit-form button:hover {
            background-color: #366bbf;
        }

.container-buttons{
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-direction: row;
    gap: 2%;
}

.table-featured-products{
    width:80%
}

.title-featured{
    font-weight: bolder;
    margin-top: 2%;
}

.guardar-cancelar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 2%;
}