@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components
@using home_pisos_vinilicos.Application.Interfaces
@using home_pisos_vinilicos.Application.Services
@inject IAuthenticationService AuthenticationService

<PageTitle>home-pisos-vinilicos</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="login" class="login-icon">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>