.navbar-toggler {
    background-color: #ffff;
    border-bottom: 1px solid #d6d5d5;
    box-shadow: 0 2px 0 rgba(0,0,0,0), 0 2px 4px rgba(0,0,0,0.1);
}

.top-row {
    height: 60px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    height: 50px;
    display: flex;
    align-items: center;
    color: #ffffff; 
}
    .navbar-brand img {
        height: 50px;
    }
    .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
        color: #ffffff;
    }

.nav-link i {
    margin-right: 0.5rem;
    color: #ffffff; 
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #ffffff;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: #ffffff; 
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: #ffffff; 
        }


.sidebar {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to left, #bdc3c7, #2c3e50);
    background: linear-gradient(to left, #bdc3c7, #2c3e50);
    height: 100vh;
    width: 250px;
}

    .sidebar .nav-link {
        color: #ffffff; 
    }

@media (max-width: 641px) {
    .logo-nav {
        display: none;
    }

    .navbar-toggler-icon {
        color: #ffffff; 
    }

    .sidebar {
        width: 100%;
    }
}


@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }
}
